mixin dialog({id, title, subtitle, tab, content, onsave})
    .mdui-dialog.mdui-dialog-full-screen(id=`${id}-dialog`)
        .mdui-dialog-title.mdui-color-theme
            span.mdui-typo-headline= title
            .mdui-typo-caption-opacity= subtitle
        .mdui-divider(style="height: 2px;")
        if tab
            .mdui-tab.mdui-tab-full-width(mdui-tab)
                each item in tab
                    a.mdui-ripple(id=e.id)= item.name
        .mdui-dialog-content
            .mdui-row
            each item in content
                .mdui-col-xs-12.mdui-p-b-1
                    .mdui-typo-title= item.title
                if item.content
                    .mdui-col-xs-1.mdui-p-b-1.retract
                    .mdui-col-xs-10.mdui-col-sm-11.mdui-p-b-1!= item.content
        .mdui-dialog-actions
            if onsave
                button.mdui-btn.mdui-ripple(onclick=onsave) 保存
            button.mdui-btn.mdui-ripple(mdui-dialog-close) 关闭
