<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>基岩版命令编写助手</title>
    <meta name="theme-color" content="#3F51B5">
    <link rel="shortcut icon" type="image/png" href="./favicon/512.png">
    <!-- Manifest -->
    <link rel="manifest" href="/manifest.webmanifest"/>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/index.css"/>
    <!-- MDUI CSS -->
    <%_ let mduiCSSLink = USE_CDN ? "\//cdn.jsdelivr.net/npm/mdui@latest/dist/css/mdui.min.css" : "/mdui/dist/css/mdui.min.css" -%>
    <link rel="stylesheet" href="<%= mduiCSSLink %>"/>
    <%_ if (MOBILE_DEV_MODEL) { -%>
    <%_ let erudaJSLink = USE_CDN ? "\//cdn.jsdelivr.net/npm/eruda" : "/eruda/eruda.js" -%>
    <!-- Eruda.js -->
    <script src="<%= erudaJSLink %>"></script>
    <script>eruda.init()</script>
    <%_ } -%>
</head>

<body class="mdui-theme-primary-indigo mdui-theme-accent-pink" style="padding-top: 128px;">
    <!-- Header -->
    <%- include("layout/header") %>
    <!-- Sidebar -->
    <%- include("layout/sidebar") %>
    <!-- Tools -->
    <%- include("layout/tool", { AVAILABLE_LANGUAGES, LANG }) %>
    <!-- List -->
    <div class="mdui-container-fluid mdui-p-a-0">
        <div class="mdui-list mdui-p-t-0" id="list"></div>
    </div>
    <!-- MDUI JS -->
    <%_ let mduiJSLink = USE_CDN ? "\//cdn.jsdelivr.net/npm/mdui@latest/dist/js/mdui.min.js" : "/mdui/dist/js/mdui.min.js" -%>
    <script src="<%= mduiJSLink %>"></script>
    <!-- JavaScript -->
    <script>
        /**
         * 默认语言：简体中文
         * Default language: Simplified Chinese
         */
        if (localStorage.getItem("language") === null) {
            localStorage.setItem("language", "zh")
        }
        /** 
         * 默认主题色：{primary: "indigo", accent: "pink"}
         * Default Theme Color: {primary: "indigo", accent: "pink"}
         * 可用主题色：参见 https://www.mdui.org/docs/color
         * Available Theme Color: by https://www.mdui.org/docs/color
         * 
         * https://github.com/zdhxiong/mdui
         */
        if (localStorage.getItem("mduiThemeColor") === null) {
            localStorage.setItem("mduiThemeColor", '{primary: "indigo", accent: "pink"}')
        }
        /** 
         * 默认自定义链接：""(空)
         * Default Custom URL: ""(none)
         */
        if (localStorage.getItem("customURL") === null) {
            localStorage.setItem("customURL", "")
        }
        /** 
         * 默认列表是否加载图片："true"
         * Default The List Item Is With Image: "true"
         */
        if (localStorage.getItem("withImage") === null) {
            localStorage.setItem("withImage", "true")
        }
    </script>
    <script src="/js/index.js"></script>
    <script type="module" src="/js/module.esm.js"></script>
    <script>
        const LANG = page.option.language.get()
        page.list.withImage = page.option.withImage.get()
        page.option.mduiThemeColor.setFromStorage()
        window.onload = () => {
            page.initialization()
        }
    </script>
</body>

</html>